[submodule "share/git/kmkf"]
	path = share/git/kmkf
	url = https://github.com/katef/kmkf
[submodule "share/git/pdjson"]
	path = share/git/pdjson
	url = https://github.com/skeeto/pdjson
[submodule "share/git/json-schema-test-suite"]
	path = share/git/json-schema-test-suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite
